{% extends 'layout.html' %}

{% block title %}Contatos{% endblock %}

{% block content %}
    <h1>Contatos</h1>
    <p>Existe um total de
        <strong>{{ contatos.length }}</strong>
        contatos em sua agenda!</p>
    <p>
        <a href="/contato/new">Inserir contato</a>
    </p>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Telefone</td>
                <td>Operadora</td>
                <td colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
            <tr>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora }}</td>
                <td>
                    <a href="/contato/{{ contato.id }}">Ver</a>
                </td>
                <td>
                    <a href="/contato/edit/{{ contato.id }}">Editar</a>
                </td>
                <td>
                    <a href="/contato/delete/{{ contato.id }}">Apagar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
